* {
  user-select: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  gap: 1rem;
}

.question, .score {
  font-size: 1.25rem;
  text-align: center;
  font-weight: bolder;
}

.score {
  font-size: 1.5rem;
}

.option {
  list-style: none;
  cursor:pointer;
}

.option:hover {
  font-weight: bolder;
}

.question, .answer {
  max-width: 60%;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}